<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Prototype</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}"> -->
<style>
  body{
   background-image: url("static/css/background1.jpg");
    background-repeat: no-repeat;
   background-size:cover;
 
  }

  .data{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  margin-right: 2%;
  
  }

  /* input[type=text] {
  border: none;
  border-bottom: 2px solid black;
} */
  
  .row{
  width: 65%;
  height: 65%;
  padding: 20px;
  margin-bottom: 5%;  
  /* code di bawah ini akan membuat div berada di tengah bawah */
  position: absolute ;
  left: 50%;
  transform: translate(-50%, -0%);
  bottom: 0;

  background-color: rgba(255,255,255,0.92);
  
  }
  

  /* table,th,td{
    border: 1px solid black;
  } */

  .content{
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
  .content2{
  margin-left: 2%;
  }

  * {
  box-sizing: border-box;
}



/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 40%;
  padding: 10px;
  /* border: solid black; */
}

.column2 {
  float: left;
  width:60%;
 
  /* border: solid black; */
}

.column3 {
  float: left;
  width:30%;
}
.column4 {
  float: left;
  width:70%;
}

.column5 {
  float: left;
  width:50%;
  margin-top: -4%;
  
}

input[type=text] {
  border: none; border-bottom: 1px solid grey;
}

select{
  border: none; border-bottom: 1px solid grey;
}
/* Clear floats after the columns */

</style>
</head>

<body>
  <h2 class="data">Prediksi Indikator Healthcare Quality</h2>
<div class="row"> 
  
 <div class="column1" >
	<h3 class="content">Data Pasien</h3>
  <div class="content">
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post" >
      <table>
        <tr>
        <td><label for="kelompok_usia">Kelompok Usia</label> </td>
        <!-- <td><input type="text" name="kelompok_usia" placeholder="" required="required" /></td> -->
        <td><select name="kelompok_usia" id="kelompok_usia" style="width: 170px; height: 24px;">
            <OPTION value="" disabled selected hidden>Pilih Kelompok Usia</OPTION>
            <option value="1">28 - <1 Th </option>
            <option value="2">1 - 4 Th</option>
            <option value="3">5 - 14 Th</option>
            <option value="4">15 - 24 Th</option>
            <option value="5">25 - 44 Th</option>
            <option value="6">45 - 64 Th</option>
            <option value="7">6 > Th</option>
            </select></td>
        </tr>
       
        <tr>
        <td><label for="tekanan_darah">Tekanan Darah</label></td>
        <td><input type="text" name="tekanan_darah" placeholder="mmHg" required="required" /></td>
        </tr>
        <tr>
        <td><label for="nadi">Nadi </label></td>
        <td><input type="text" name="nadi" placeholder="per menit" required="required" /></td>
        </tr>
        <tr>
        <td><label for="pernafasan">Pernafasan</label></td>
        <td><input type="text" name="pernafasan" placeholder="per menit" required="required" /></td>
        </tr>
        <tr>
        <td><label for="suhu">Suhu</label></td>
        <td><input type="text" name="suhu" placeholder="&deg;C" required="required" /></td>
        </tr>
        <tr>
        <td><label for="status_nyeri">Status Nyeri</label></td>
        <!-- <td><input type="text" name="status_nyeri" placeholder="" required="required" /></td> -->
        <td>
          <select name="status_nyeri" id="status_nyeri" style="width: 170px; height: 24px;">
            <OPTION value="" disabled selected hidden>Pilih Skala Nyeri</OPTION>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="4">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value=10">10</option>
          </select>
        </td>
        </tr>
        <tr>
        <td><label>Diagnosis</label>
        <td>
        <label>DHF</label>
        <!-- <input type="text" name="Diagnosis_DHF" placeholder="DHF" required="required" /> -->
        <select name="Diagnosis_DHF" id="">
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
        <!-- <input type="text" name="Diagnosis_Typoid" placeholder="Typoid" required="required" /></td> -->
        <label style="margin-left: 17px;">Typoid</label>
        <select name="Diagnosis_Typoid" id="">
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
        </tr>
        <tr>
          <td><label>Gender</label></td>
          <td>
          <label>Pria</label>
          <!-- <input type="text" name="Gender_L" placeholder="Laki-Laki" required="required" /> -->
          <select name="Gender_L" style="margin-left: 7px;">
            <option value="0">0</option>
            <option value="1">1</option>
          </select>
          <label style="margin-left: 17px;">Wanita</label>
          <!-- <input type="text" name="Gender_P" placeholder="Perempuan" required="required" /></td> -->
          <select name="Gender_P">
            <option value="0">0</option>
            <option value="1">1</option>
          </select>
        </tr>
        
      
      </table>
        
        <button style="margin-left: 77%; margin-top: 5%; height: 25px" type="submit" class="btn btn-primary btn-block btn-large">Prediksi</button>
        
      </form>
  </div>
   <br>
   <br>
  </div>

  <div class="column2" >
  
  <div class="content2" style="margin-top: 7%;">
  <h3>Hasil Prediksi</h3>
  <form action="" name="biaya">
    <p>Lama Tinggal : <input style="margin-left: 8.5%; width: 20%;" type="text" name="" id="" value="{{ prediction_text }}" readonly> </p>
   <!-- <p>Lama Tinggal : {{ prediction_text }}</p> -->

   <div class="column3"> 
   <label style="display: block; font-size: smaller;" for="hargaobat">Pilih Diagnosis</label>
   <SELECT name="hargaobat" id="hargaobat" style="width: 80%; height: 30px;">
    {% for ho in obat %}
    <OPTION value="" disabled selected hidden>Diagnosis</OPTION>
    <OPTION id="hargaobat" name="hargaobat" value={{ho[1]}}>{{ho[0]}}</OPTION>
    {% endfor %}
    </SELECT>
    </div>
    <div class="column4">
    <label style="display: block; font-size: smaller;" for="hargaKelas">Pilih Ruangan</label>
  <SELECT name="hargaKelas" id="hargaKelas" style="width: 100%; height: 30px; ">
    {% for rs in data %}
    <OPTION value="" disabled selected hidden>Ruangan Rawat Inap</OPTION>
    <OPTION id="hargaKelas" name="hargaKelas" value={{rs[4]}}>{{rs[1]}}</OPTION>
    {% endfor %}
    </SELECT>
  </div>
  <div >
  <input style="height: 25px; float: right; margin-top: 2%;" type="button" width="5%" value=" Hitung " onClick="tambah()">
  </div>
  
  <div class="column3" style="margin-top: 12%;">
    <label style="display: block; font-size: smaller;" for="tampilhargaobat">Biaya Obat</label>
    <input style="width: 80%; height: 30px; " type="text" name="tampilhargaobat" id="tampilhargaobat" class="form-control" readonly>
  </div>

  <div class="column4" ">
    <p style="font-size: small;">Biaya Ruangan</p>
    <div class="column5">
    <label style="display: block; font-size: x-small;" for="biayaharimin">Minimum ({{ angkamin }} Hari) </label>
    <input style="width: 90%; height: 30px;" type="text" name="biayaharimin" id="biayaharimin" class="form-control" readonly>
  </div>
    <div class="column5">
    <label style="width: 90%; display: block; font-size: x-small;" for="biayaharimaks">Maksimum ({{ angkamaks }} Hari) </label>
    <input style="height: 30px;" type="text" name="biayaharimaks" id="biayaharimaks" class="form-control" readonly>
    </div>
  </div>

  <div class= "column4" style="float: right;">
    <p style="font-size: small;">Total Biaya</p>
    <div class="column5">
    <label style="display: block; font-size: x-small;" for="total">Minimum</label>
    <input style="width: 90%; height: 30px;" type="text" name="total" id="total" class="form-control"  readonly>
  </div>
  <div class="column5">
    <label style="display: block; font-size: x-small;" for="total2">Maksimum</label>
    <input style="width: 100%; height: 30px;"  type="text" name="total2" id="total2" class="form-control"  readonly>
  </div>
  </div>
  
 
 
  <div class="rincianruangan" hidden>
   <h4>Rincian Estimasi Biaya</h4>
   <table>
     <thead>
       <tr>
         <th>No</th>
         <th>Ruangan</th>
         <th>Harga/Malam</th>
       </tr>
     </thead>
     <tbody>
       {% for rs in data %}
       <tr>
         <td>{{ loop.index }}</td>
         <td>{{ rs.1 }}</td>
         <td>{{ rs.2 }}</td>
       </tr>
       {% endfor %}
     </tbody>
   </table>
  </div>

   <div class="rincianobat" hidden>  
    <h4>Rincian Biaya Obat</h4>
   <table>
     <thead>
       <tr>
         <th>No</th>
         <th>Nama Obat</th>
         <th>Harga</th>
         <th>Diagnosis</th>
       </tr>
     </thead>
     <tbody>
       {% for ob in daftarobat %}
       <tr>
         <td>{{ loop.index }}</td>
         <td>{{ ob.1 }}</td>
         <td>{{ ob.2 }}</td>
         <td>{{ ob.4 }}</td>
       </tr>
       {% endfor %}
     </tbody>
   </table>
  </div>


    <!-- {{ angka }} -->
    <input name="jlhHari" id="jlhHari"  type="hidden" value="{{ angkamin }}">
    <input name="jlhHari2" id="jlhHari2"  type="hidden" value="{{ angkamaks }}">
  </form>

  </div>
  </div>

 
  
 
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    // $(document).ready(function() {
    //     $("#jlhHari, #jlhHari2, #hargaKelas").keyup(function() {
    //         var kelasmin  = $("#jlhHari").val();
    //         var kelasmaks  = $("#jlhHari2").val();
    //         var harga = $("#hargaKelas").val();

    //         var totalmin = parseInt(kelasmin) * parseInt(harga);
    //         var totalmaks = parseInt(kelasmaks) * parseInt(harga);
    //         $("#total").val(totalmin);
    //         $("#total2").val(totalmaks);
    //     });
    // });
    function tambah()
        {
            kelasmin=eval(biaya.jlhHari.value);
            kelasmaks=eval(biaya.jlhHari2.value);
            harga=eval(biaya.hargaKelas.value);
            hargaobat = eval(biaya.hargaobat.value);

            harimin = (kelasmin * harga);
            harimaks = (kelasmaks * harga);

            totalmin = (kelasmin * harga) + hargaobat;
            totalmaks = (kelasmaks * harga) + hargaobat;


            biaya.biayaharimin.value = harimin;
            biaya.biayaharimaks.value = harimaks;
            biaya.tampilhargaobat.value = hargaobat;
            biaya.total.value = totalmin;
            biaya.total2.value = totalmaks;
        }


</script>

</body>
</html>
